#root {
  margin: 0 auto;
}

.example {
  min-height: 400px;
  border: 1px solid #ccc;
  display: flex;
}

.section-process {
  min-height: 200px;
}

.section-about {
  min-height: 300px;
}

.footer-main {
  height: 100px;
}
